name: Tests

on:
  - push
  - pull_request

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Development Code
        uses: actions/checkout@v2
      - name: Use Node.js 17.x
        uses: actions/setup-node@v1
        with:
          node-version: 17.x
      - run: npm install
      - run: npm test
      - run: npm run build --if-present
